/*
 * Styling segments
 */

/* Styling opening ("left") demarcating line lines in a segment */
.segment line.open {
    stroke: black;
}
/* Styling closing ("right") demarcating line lines in a segment */
.segment line.close {
    stroke: black;
}
/* sub segment lines getting identical styling */
.segment .sub-segment line {
    stroke: black;
    stroke-dasharray: 15 10;
}

/*
 * Styling rings
 */
/* Styling all rings together */
.ring path.arc-inner,
.ring path.arc-outer {
    stroke: black;
    stroke-width: 1;
    fill: none;
}
/* Styling individual rings */
.ring.ring-4 path.arc-stroke {
    stroke: #eee;
}
.ring.ring-3 path.arc-stroke {
    stroke: #dadada;
}
.ring.ring-2 path.arc-stroke {
    stroke: #cacaca;
}
.ring.ring-1 path.arc-stroke {
    stroke: #bababa;
}
.ring.ring-0 path.arc-stroke {
    stroke: #aaaaaa;
}

/* Styling the segment label - all together for a uniform look */
.segment text.label {
    font-family: 'Verdana';
    font-size: 40;
    font-weight: bold;
}
/* Styling the sub-segment label - all together for a uniform look */
.segment .sub-segment text.label {
    font-family: 'Verdana';
    font-size: 30;
}
/* in different colours */
/* remember that in SVG text is treated as shapes, so use stroke and fill! */
.segment.segment-0 text.label {
    fill: red;
    stroke: red;
}
